html, body {
  height: 100%;
}

#form {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#queue {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}